body {
    background-image: url('../bgimg/homepagebg.png');
    background-size: cover;
}

#content-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}


/* Mobile view */
@media screen and (max-width: 431px) {
    body {
        background-image: url('../bgimg/homepagebg.png');
        background-size: cover;
    }

    #content-container {
        max-width: 90%;
        margin: 10px auto;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    section {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    h2 {
        color: #333;
        font-size: 20px;
        margin-bottom: 8px;
    }

    p {
        color: #666;
        font-size: 14px;
        line-height: 1.4;
    }

    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
}

