/* style.css */
body, html {
    background-image: url('../bgimg/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
}

#dataContainer {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Individual character card */
.character.pyro {
    border: 1px solid #b60d0d;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(236, 73, 35, 0.7); /* Adjust the last value (0.7) for transparency */
    text-align: center;
}

.character.hydro {
    border: 1px solid #b60d0d;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(0, 191, 255, 0.7); /* Adjust the last value (0.7) for transparency */
    text-align: center;
}

.character.dendro {
    border: 1px solid #b60d0d;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(96, 138, 0, 0.7);
    text-align: center;
}

.character.geo {
    border: 1px solid #b60d0d;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(222, 189, 108, 0.7);
    text-align: center;
}

.character.anemo{
    border: 1px solid #b60d0d;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(51, 150, 151, 0.7);
    text-align: center;
}

.character.cryo{
    border: 1px solid #b60d0d;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(70, 130, 180, 0.7);
    text-align: center;
}

.character.electro{
    border: 1px solid #b60d0d;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(148, 93, 196, 0.7);
    text-align: center;
}

/* Character name */
.character h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.character h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Character image */
.character img {
    width: 500px; /* Increased image size */
    height: 550px; /* Increased image size */
    margin-bottom: 15px;
}

/* Character name */
#dataContainer p:nth-child(1) {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Character title */
#dataContainer p:nth-child(2) {
    font-size: 24px;
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
}

/* Character vision */
#dataContainer p:nth-child(3) {
    font-size: 22px;
    color: #007BFF; /* Change this to match the color of the vision */
    margin-bottom: 10px;
}

/* Other character details */
#dataContainer p:nth-child(n+4) {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    padding: 10px; /* Add padding for better spacing */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Add a slightly transparent border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    background-color: rgba(255, 255, 255, 0.8); /* Add a slightly transparent background */
}

/* Last paragraph margin */
#dataContainer p:last-child {
    margin-bottom: 0;
}

